SUPABASE_URL=https://rjpesrggkwryrqqvqeuw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqcGVzcmdna3dyeXJxcXZxZXV3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTYyNDQ3NCwiZXhwIjoyMDk3MjAwNDc0fQ.v-dRwQELxvxqJ7x79OimiLqpFAwV_1lAOdKYDmx6Amg
